.container{
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
}
.field, h1 {
  /* margin: auto; */
  text-align: center;
  color: white;
}
body {
  background-color: black;
}
/* .is-fullheight {
  background-color: black;
} */
.submitButton {
  display: block;
  margin: auto;
}


